.container {
  position: relative;
  height: 100%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-weight: 500;
  background-color: rgba(16, 15, 15, 0.08);
  box-shadow: rgba(0, 0, 0, 0.08) 2px 3px 2px;
}

.icon {
  margin-bottom: -2px;
}
